<html>
    {% load static %}
  <head>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>
<body id="LoginForm">
<div class="container">
<div class="login-form">
<div class="main-div">
    <div class="panel">
   <h2>Registration</h2>
   </div>
      <form id="Login" action = '{% url 'reg'%}' method = 'post'>

        <div class="form-group">
            {% csrf_token %}
                {{form}}
                <br>
<input type="submit" class="btn btn-primary" value = 'Login'>
    </form>  
        <p>Have an account? <a href = '{% url 'login'%}'> Log In </a></p>
    </div>
</div></div></div>


</body>
</html>